
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PersonasModificadas</title>
</head>
<body>
    Nombre: @Html.Display("nombre") <br />
    Apellidos: @Html.Display("apellido") <br />
    Fecha: @Html.Display("fecha") <br />
    @Html.ActionLink("Atras","Editar")
</body>
</html>
