
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Listado</title>
</head>
<body>
    <div>
        <ul style="list-style-type:disc;">
            <li>Coffee</li>
            <li>Tea</li>
            <li>Milk</li>
        </ul>
        
        <a href=@Url.Action("index", "Home")>ATRAS</a>
    </div>
</body>
</html>
