
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>index</title>
</head>
<body>
    <div> 
        <a href="~/Productos/Listado">Listado de Productos</a><br>
        @Html.ActionLink("La Lista De Productos","Listado","Productos")
    </div>
</body>
</html>
